name: Linting
on:
  push:
jobs:
  golangci:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@v3
      - run: echo ${{ steps.go-version.outputs.golang_version }}
      - name: Install Go ${{ steps.go-version.outputs.golang_version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.go-version.outputs.golang_version }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3

  vulnerabilities-check:
    name: Check for Vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@v3
      - name: Install Go ${{ steps.go-version.outputs.golang_version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.go-version.outputs.golang_version }}
      - name: Write Go List
        run: go list -json -deps ./... > go.list
      - name: Nancy
        uses: sonatype-nexus-community/nancy-github-action@main
